.wrap {
	overflow: hidden;
	height: 100%;
}
/*카테고리랑 검색부분 css*/
.header {
	margin-top: 15px;
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	text-align: center;
}

.category {
	vertical-align: middle;
}

.select {
	border-radius: 3px;
	border: .6px solid #000;
	width: 15%;
	background-color: white;
	height: 2.2em;
}

.srch {
	float: right;
	width: 100%;
}

.srch_put {
	border-radius: 3px;
	padding: 5px 5px 3px 5px;
	border: .6px solid #000;
	width: 59%;
	height: 2.2em;
}

.srch_btn {
	font-weight: bold;
	height: 2.3em;
	background-color: white;
	color: rgb(23, 87, 155);
	border: 1px solid;
	width: 15%;
	border-radius: 3px;
}

/*게시물 부분 css*/
.board_list {
	height: 420px;
	margin-top: 30px;
}

.board_list table {
	width: 100%;
	font-size: 15px;
	vertical-align: middle;
	border-collapse: collapse;
}

.tt {
	padding-bottom: 15px;
	padding-left: 10px;
	padding-top: 15px;
}

.board_list table tbody {
	width: 100%;
}

.board_list table tr td {
	border-bottom: 1px solid #000;
	border-top: .25px solid #000;
}

.cn {
	vertical-align: middle;
	padding-left: 10px;
	width: 70px;
	letter-spacing: -.035em;
}

.hit {
	vertical-align: middle;
	text-align: center;
	width: 70px;
}

.board_list a {
	text-decoration: none;
	color: black;
	line-height: 1.35;
	letter-spacing: -1.6;
}

.board_list td:hover>a {
	color: rgb(23, 87, 155);
}

.ctg {
	width: 16%;
	text-align: center;
}
/*조회수*/
.hits {
	width: 10%;
	text-align: center;
}

/*글쓰기버튼*/
.write {
	bottom: 10;
	position: fixed;
	height: 50px;
	width: 55px;
	border-radius: 50%;
	right: 10px;
	top: px;
	padding: 10px;
	outline: none !important;
	border: 0;
	float: right;
	color: white;
	text-align: center;
	background-color: rgb(23, 87, 155);
	text-decoration: none;
	font-size: 1.1em;
}