.wrap {
	height: 100%;
}

.msg_list {
	overflow: scroll;
	margin-top: 18px;
	width: 100%;
	padding: 3px 0;
	height: 450px;
}

.et {
	height: 400px;
	width: 100%;
	font-size: 15px;
	vertical-align: middle;
	border-collapse: collapse;
}

.tt {
	padding-bottom: 15px;
	padding-left: 10px;
	padding-top: 15px;
	text-align: center;
}

.msg_list table tbody {
	width: 100%;
}
.msg_list table tbody tr {
	height:45px;
}

.msg_list table tr td {
	padding: 3px;
	border-bottom: 1px solid #000;
	border-top: .25px solid #000;
	text-align: center;
	vertical-align: middle;
}

.cn {
	text-align: center;
	vertical-align: middle;
	width: 70px;
	letter-spacing: -.035em;
}

.date {
	vertical-align: middle;
	text-align: center;
	width: 70px;
}

.readdate {
	vertical-align: middle;
	text-align: center;
	width: 70px;
	color: #17579b;
}

.msglist a {
	text-decoration: none;
	color: black;
	line-height: 1.35;
	letter-spacing: -1.6;
}

.msg_list td:hover>a {
	color: rgb(23, 87, 155);
}

.footer {
	background-color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}

.submit {
	padding: 10px;
	width: 20%;
	outline: none !important;
	border: 0;
	color: white;
	text-align: center;
	background-color: rgb(23, 87, 155);
	text-decoration: none;
}

table th {
	font-style: bold;
	height: 26px;
	padding: 0;
	padding-top: 2px;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
	color: #000;
	background: none;
	background-color: #fff;
}

.name {
	padding: 5px;
}

.delete {
	color: white;
	background-color: #17579b;
	border: 0;
	outline: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 4px 3px 4px 3px;
}

.admin {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	font-size: 11px;
}