#wrap4, #container4 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
}

.nav {
	position: relative;
	margin: 10px;
}

.menu {
	display: block;
	box-sizing: border-box;
	width: 88%;
	height: 40px;
	padding: 0 15px;
	border: 1px solid #005499;
	background: url(../images/select1.png) no-repeat right center;
	background-origin: content-box;
	background-size: 15px auto;
	text-align: left;
	font-size: 15px;
	font-weight: 600;
	color: #000;
}

.tab {
	position: absolute;
	left: 0;
	width: 88%;
	max-height: 250px;
	box-sizing: border-box;
	overflow: auto;
	background: #f0f1f5;
	border: 1px solid #005499;
	border-top: 0;
	z-index: 100;
}

.sub {
	margin-bottom: 0;
	display: block;
	overflow: hidden;
}

ul.sub li {
	float: none;
	width: 100%;
	margin: 0 0 1px 0;
}

ul.sub li a {
	display: block;
	height: 45px;
	line-height: 45px;
	padding: 0 19px;
	background: #eee;
	border: 0;
	font-size: 15px;
	color: #7b8388;
}

.area {
	padding: 15px 15px 0;
}

.area * {
	letter-spacing: -1px;
	font-size: 14px;
	color: #666;
	word-break: keep-all;
}

/*제일 상단 head*/
.titlev {
	height: auto;
	padding: 0 !important;
	background-image: none !important;
	position: relative;
}

.head {
	position: relative;
	width: 100%;
	padding: 15px 20px;
	top: 0;
	right: 0;
	box-sizing: border-box;
	height: 100%;
	background: #dae8fd;
}

.titlev dl.w {
	padding-left: 85px;
	margin-top: 10px;
}

.titlev dl {
	position: relative;
}

.titlev dl dt {
	position: absolute;
	left: 0;
	padding-left: 18px;
	background: url(../images/location2.png) no-repeat 0;
	font-weight: 600;
	color: #000;
}

.titlev dl dd {
	padding-bottom: 5px;
}

.titlev dl dt.tel {
	background-image: url(../images/tel.png);
}

.titlev dl dd+dt, .titlev dl dd+dt+dd {
	margin-top: 15px;
}

.titlev dl dt.time {
	background-image: url(../images/time.png);
}

/*상품 리스트*/
ul.list {
	position: relative;
	list-style: none;
	padding: 0px;
	width: 100%;
	margin-top: 30px;
}

.img {
	width: 160px;
	margin-right: 20px;
	float: right;
}

.ticketInfo {
	margin-left: 20px;
	padding-top: 5px;
	float: left;
	font-size: 15px;
}

.name {
	font-weight: bold;
	margin-bottom: 10px;
}

ul.list .box {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 20px 0 20px 0;
	margin:;
	font-size: 12px;
	cursor: pointer;
}

.chart {
	width: 9%;
	margin-top: -35px;
	float: right;
	color: #17579b;
}