* { margin:0; padding:0;}
ul,li {list-style:none;}
a {text-decoration:none; color:#000;}

.wrapper {
   margin-top: 70px;
   overflow: hidden;
   border: 0px solid #000;
   padding: 10px;
   height: 100%;
}
.box1-content {
   width: 250px;
   height: 100%;
   background-color: #fff;
   margin: 2px auto;
   padding: 40px 50px;
}
.header {
   border: 0px solid #000;
   margin-bottom: 50px;
}
.header img {
   width: 175px;
   height: 60px;
   margin: 0 auto;
   position: relative;
}
.snum {
   width: 80%;
   padding: 8px 12px;
   border: 1px solid #dbdbdb;
   box-sizing: border-box;
   border-radius: 3px;
   margin: 0px 5px 10px 5px;
   float: left;
}

.pw, .email {
   width: 100%;
   padding: 8px 12px;
   border: 1px solid #dbdbdb;
   box-sizing: border-box;
   border-radius: 3px;
   margin: 0px 5px 10px 5px;
}

#tt {
   float: right;
   border:0;
   outline:0;
   height: 60px;
   background: white;
    color: rgb(23,87,155);
    margin-right: -15px;
    margin-top: -15px;
}

.idchecktext {
   letter-spacing:-2px;
   font-size: 12px;
   color:red;
   margin-right: 110px;
    margin-bottom: 10px;
}

.subt{
   width: 100%;
   background-color: rgb(23,87,155);
   border: 1px solid rgb(23,87,155);
   padding: 5px 12px;
   color: #fff;
   font-weight: bold;
   cursor: pointer;
   border-radius: 3px;
   margin: 10px 5px;
}
.col {
   position: fixed;
}
.omb_hrOr {
   width: 250px;
   margin: 15px 5px 10px 5px;
}
.spanOr{
   display: block;
   position: absolute;
   left: 50%;
   top: 5%;
   margin-left: -1.5em;
   background-color: #fff;
   width: 3em;
   text-align: center;
}
.res {   
   position: relative;
   font-size: 15px; 
   text-decoration: none;
   line-height: 10px;
   padding: 15px 5px; 
   margin: 5px;
}

.reset {
   background: #fff;
   border: 0px;   
}

.logbt {
   width: 100%;
   background-color: rgb(23,87,155);
   border: 1px solid rgb(23,87,155);
   padding: 5px 12px;
   color: #fff;
   font-weight: bold;
   cursor: pointer;
   border-radius: 3px;
   margin: 50px 5px;
}